<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scomps.www.assignment2_fantasysoccer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LauncherActivity" >
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:label="@string/title_activity_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamEditTeam1"
            android:label="@string/title_activity_team_edit"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".CustomTeam"
            android:label="@string/title_activity_custom_team" >
        </activity>
    </application>

</manifest>
